.signup {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .signup_title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 2rem;
    }
}
